body{
	background: white;
}

.main-container{
	background: green;
	margin: 0px auto;
	margin-top: 100px;
	width: 1500px;
	height: 900px;
}

.header{
	background: yellow;
	height: 60px;
}

.header ul li{
	display: inline;
	padding: 20px;
}

.has-sub ul li{
	display: block;
	background: gray;
}

.content{
	background: green;
	width: 100%;
	height: 900px;
	min-height: 80%;	
}

.left{
	width: 73.5%;
	padding: 10px;
	float: left;
	background: blue;
}

.left section{
	background: white;
	margin: 0px auto;
	margin-bottom: 10px;
	width: 100%;
	min-height: 100px;
}

.right{
	width: 23.8%;
	padding: 10px;
	float: right;
	background: red;
}

.right section{
	width: 200px;
	background: white;
}	

.footer{
	background: gray;
	position: static;

	min-height: 20%;
}